.print-display {
  display: none !important;
}

@media print {
  .print-hidden {
    display: none !important;
  }

  .print-display {
    display: initial !important;
  }

  .main {
    @apply p-0;
  }
}
